<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ourcompany">

    <!-- 允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 需要运行时注册的权限 -->
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于提高GPS定位速度 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 读取缓存数据 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 更改设置 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 3.2.0版本增加 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 3.2.0版本增加 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:name=".app.MApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_logo"
        android:label="@string/app_name"
        android:persistent="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:name">

        <!-- 设置key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="a457cbc1302b03472f205256d6e39508" />
        <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name=".activity.SplashActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/SplashWithLogo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.imui.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.imui.ResigisterAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.imui.FindPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.imui.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.imui.UserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UserClassifyDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.tab_mine.CouponManagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.imui.friends.FriendRequestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.imui.ChatingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".im.ui.ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CollectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PublishPostActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustNothing" />
        <activity
            android:name=".activity.HomeActivityV2"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustNothing" />
        <activity
            android:name=".activity.PostDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.FeedbackActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AboutCuckooActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UserClassifyActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/SCityStyle" />
        <activity
            android:name=".activity.user_class.UserTeamMemeberDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.user_class.UserTeamCaseDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.setting.SystemSettingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.setting.AccountSettingAcitivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />  <activity
            android:name=".activity.certification.CertificationCentreActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.setting.ResetPasswordAcitivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.setting.EditextUserInfoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.setting.BindNewPhoneAcitivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ImagesPreViewActvitity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="imagepicker.ui.ImageGridActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:theme="@style/ImagePickerTheme" />
        <activity
            android:name=".activity.tab_mine.AddCouponActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="imagepicker.ui.ImageCropActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:hardwareAccelerated="false"
            android:theme="@style/ImagePickerTheme" />
        <activity
            android:name="imagepicker.ui.ImagePreviewActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:theme="@style/ImagePickerThemeFullScreen" />
        <activity
            android:name="imagepicker.ui.ImagePreviewDelActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:theme="@style/ImagePickerThemeFullScreen" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.ourcompany.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>